.questions-panel {
    background-color: white;
    padding: 30px 40px;
    overflow-y: auto;
    max-height: 450px;

    .question-item-panel {
        margin-bottom: 40px;

        .select-multiple-question-title {
            padding-bottom: 10px;
        }

        .question-content {
            padding: 20px 0;
        }

        .choices-panel {
            .answer-button {
                width: 100%;
                box-shadow: 0 0 5px 0px #ddd;
                margin-bottom: 10px;
                padding: 7px;
                cursor: pointer;
                border: none;
                outline: none;
                background-color: white;
                border-radius: 3px;
                transition: height .5s;

                .answered-content {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    font-size: 16px;
                    font-weight: 500;

                    .answer-button-title {
                        width: 30px;
                        height: 30px;
                        border-radius: 100%;
                        background: #ddd;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-right: 10px;
                    }
                    .answer-button-content {
                        width: calc(100% - 30px);
                        text-align: left;
                    }
                }
            }
            .answer-button.test-true {
                border: 1px solid green;
            }
            .answer-button:hover {
                box-shadow: 0 0 5px 3px #ddd;
            }
            .answer-button.selected {
                background-color: #ccc;
            }
            .answer-button.active{
                .answer-button-title {
                    background-color: var(--main-color);
                    color: white;
                }
                .answer-button-content {
                    color: var(--main-color);
                }
            }
            .answer-button.correct {
                display: block;
                padding: 0;
                background: rgba(0, 128, 0, 0.15);

                .answered-content {
                    display: flex;
                    align-items: center;
                    padding: 7px;
                    border-bottom: 1px solid #ddd;

                    .answer-button-title {
                        background-color: green;
                        color: white;
                    }
                    .answer-button-content {
                        color: green;
                    }
                }
                .explanation {
                    padding: 0 15px;
                    text-align: left;
                    font-size: 15px;
                }
            }
            .answer-button.wrong {
                .answer-button-title {
                    background-color: red;
                    color: white;
                }
                .answer-button-content {
                    color: red;
                }
            }
        }
    }
}
@media screen and (max-width: 1024px) {
    .questions-panel {
        max-height: 400px;
    }
}
@media screen and (max-width: 480px) {
    .questions-panel {
        padding: 15px;
    }
}