@import './mixin.scss';

.review-page {
    background-color: #f2fcff;
    .review-page-content {
        background-color: #f2fcff;
        padding-top: 60px;
        .level-question-panel {
            .level-question-item {
                box-shadow: 0px 0px 7px 0px #ddd;
                padding: 15px;
                margin-bottom: 15px;
                border-radius: 3px;
                background-color: white;
                cursor: pointer;
                
                .question-num {
                    color: #999;
                    font-size: 0.9em;
                }
            }
            .level-question-item:hover,
            .level-question-item.active {
                background-color: var(--main-color);
                color: white;
    
                .question-num {
                    color: #eee;
                    
                }
            }
        }
    }

    .questions-panel {
        overflow-y: auto;
        max-height: 500px;
    }
    .empty-question-panel {
        @include makeBox(#ddd);
        border-radius: 3px;
        padding: 15px;
        height: calc(100% - 45px);
        background: white;
    }
    @include makeScrollStyle(".questions-panel", 10px, 10px, 10px, #999);
}

@media (max-width: 768px) {
    .review-page {
        .review-page-content {
            padding: 15px;
        }
        .review-page-content.show-review {
            padding: 0;
        }
        .questions-panel {
            max-height: 100%;
        }
    }
}

@media (max-width: 500px) {
    .review-page {
        .review-page-content {

        }
    }
}